@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'faq';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;

}

ul {
    list-style-type: none;
}

.logo-one-piece {
    max-width: 50vh;
    margin-left: -90vh;
}

.logo-one-piece-text{
    max-width: 37vh;
    margin-left: -85vh;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario
}

.text--big {
    @include text (18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title(40px);
}

.title--small {
    @include title(28px);
}

.title-img-persornagem {
    text-align: center;
}